#{extends 'main.html' /} #{set title:'Create New Office' /} #{set activePage: 'regOffice' /} #{include 'nav.html'
/}

<section class="ui form segment">
  <form class="ui form" action="/officecontroller/registerOffice" method="POST">
    <div class="ui compact segment">
      <div class="ui grid">
        <div class="column">
          <div class="field">
            <h2>Create New Office</h2>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Office Title</label><input placeholder="Office Title" type="text"
                name="office.office">
            </div>
            <div class="field">
              <label>Office Description</label><input placeholder="Office Description" type="text"
                name="office.officeDesc">
            </div>
          </div>
          
          <div class="form-actions">
            <div class="ui red submit button">SUBMIT</div>
            <div class="ui error message"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script src="@{'/public/javascripts/main_script.js'}"></script>