#{extends 'main.html' /} #{set title:'Make Donation' /} #{set activePage: 'donation' /} #{include 'nav.html'
/}

<section class="ui segment">
  <h3>Welcome ${user.firstName}</h3>
  <h4>Please give generously</h4>

  <div class="ui grid">
    <div class="six wide column">
      <form class="ui form" action="/donation/donate" method="POST">
        <table class="ui table">
          <thead>
            <tr>
              <th>Make a donation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="ui selection dropdown">
                  <input name="candidateEmail" type="hidden">
                  <div class="default text">Select Candidate</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    #{list items:candidates, as:'candidate'}
                    <div class="item" data-value="${candidate.candidateEmail}">${candidate.candidateFirstName}
                      ${candidate.candidateLastName}</div>
                    #{/list}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="ui selection dropdown">
                  <input name="amountDonated" type="hidden">
                  <div class="default text">Amount</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" data-value="200">$200</div>
                    <div class="item" data-value="500">$500</div>
                    <div class="item" data-value="1000">$1000</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="grouped inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="paypal" name="methodDonated" value="paypal" checked="checked" type="radio">
                      <label for="paypal">PayPal</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input id="direct" name="methodDonated" value="direct" type="radio"> <label
                        for="direct">Direct</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button class="ui red submit button">DONATE</button>
                <div class="ui error message"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="six wide column">
      <form class="ui form" action="/donation/donate" method="POST">
        <table class="ui table">
          <thead>
            <tr>
              <th>Markers represent donor locations: click to discover name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <style>
#googleMap {
  width: 500px;
  height: 400px;
}
</style>
                <div id="googleMap"></div> <script src="http://maps.googleapis.com/maps/api/js"></script> <script
                  src="@{'public/javascripts/polygon.js'}"></script>
              </td>
            </tr>
        </table>
      </form>
    </div>
  </div>
  <!-- Donation progress  -->
  <div class="ui segment">
    <div class="ui indicating progress" id="progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">${donationProgress}</div>
    </div>
  </div>
</section>

<script src="@{'/public/javascripts/main_script.js'}"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="@{'public/javascripts/polygon.js'}"></script>
<script>
	$('#progress').progress('increment', '${percentProgress}');
</script>