#{extends 'main.html' /}
#{set title:'Donation' /}
#{set activePage: 'Welcome' /}

#{include 'nav.html' /}

<h1>
  Welcome
</h1>
<table>
  <tr>
    <td>
      <p>
        <i>
        Homer for president.
        </i>
      </p>
      <p>
        <i>
        Time for a change
        </i>
      <p>
        Out with Boring Abamo.
      </p>
      <p>
        Giving has never been so easy.
      </p>
      <p>
      </p>
      You may register <a href ="/signup">
      here
      </a> absolutely free of charge.
      <p>
      </p>
      
      <p>
        If already registered just click <a href ="/login">
        here
        </a>here to log in.      
      </p>
      <p>
        Then go to the Donation page and empty your wallet
      </p>
    </td>
    <td>
      <img src="/public/images/homer.gif">
    </td>
  </tr>
</table>