#{extends 'main.html' /} #{set title:'Administrator Report' /} #{set activePage: 'adminReport' /} #{include
'nav.html' /}

<section class="ui segment">
  <p>
  <h3>Donors</h3>
  </p>
  <div id="posts">
    <div class="well"
      <div class="ui column">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Name</th>
              <th>State</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            #{list items:donations, as:'donation'}
            <tr>
              <td>${donation.from.firstName} ${donation.from.lastName}</td>
              <td>${donation.from.state}</td>
              <td>${donation.from.email}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="ui segment">
  <p>
  <h3>Candidates</h3>
  </p>
  <div id="posts">
    <div class="well"
      <div class="ui column">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Office</th>
            </tr>
          </thead>
          <tbody>
            #{list items:candidates, as:'candidate'}
            <tr>
              <td>${candidate.candidateFirstName} ${candidate.candidateLastName}</td>
              <td>${candidate.candidateEmail}</td>
              <td>${candidate.office}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script src="@{'/public/javascripts/main_script.js'}"></script>