#{extends 'main.html' /} #{set title:'Administrator Login' /} #{set activePage: 'admin' /} #{include
'nav.html' /}

<section class="ui form segment">
  <form class="ui form" action="/authenticateAdmin" method="POST">

    <div class="ui segment">
      <div class="field">
        <h2>Administrator account login</h2>
      </div>
      <div class="field">
        <h3>Restricted access</h3>
      </div>
      <div class="five wide field">
        <div class="field">
          <div class="ui left icon input">
            <input placeholder="username" type="text" name="admin.adminUsername"> <i class="user icon"></i>
          </div>
        </div>
      </div>
      <div class="five wide field">
        <div class="field">
          <div class="ui left icon input">
            <input placeholder="password" type="password" name="admin.adminPassword"> <i class="lock icon"></i>
          </div>
        </div>
        <div class="form-actions">
          <button class="ui red submit button">LOGIN</button>
          <div class="ui error message"></div>
        </div>
      </div>
  </form>
</section>
<script src="@{'/public/javascripts/main_script.js'}"></script>