#{extends 'main.html' /} #{set title:'Report' /} #{set activePage: 'report' /} #{include 'nav.html' /}
<section class="ui segment">
  <p>
  <h3>List Donations</h3>
  </p>
  <div id="posts">
    <div class="well"
      <div class="ui column">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Donors</th>
              <th>Age</th>
              <th>Location</th>
              <th>Amount ($)</th>
              <th>Method Donated</th>
              <th>Date Donated</th>
              <th>Candidate</th>
            </tr>
          </thead>
          <tbody>
            #{list items:donations, as:'donation'}
            <tr>
              <td>${donation.from.firstName} ${donation.from.lastName}</td>
              <td>${donation.from.age}</td>
              <td>${donation.from.state}</td>
              <td>${donation.received}</td>
              <td>${donation.methodDonated}</td>
              <td>${donation.dateDonated}</td>
              <td>${donation.candidate.candidateFirstName} ${donation.candidate.candidateLastName}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="ui segment">
  <div class="ui grid">
    <div class="four wide column">
      <!-- Filter by candidate  -->
      <div class="ui form">
        <form class="ui form" action="/report/filterByCandidate" method="POST">
          <div class="ui fluid form segment">
            <div class="ui dropdown">
              <i class="user icon"></i> <input name="candidateEmail" type="hidden"> <span class="text">Select
                Candidate</span>
              <div class="menu">
                #{list items:candidates, as:'candidate'}
                <div class="item" data-value="${candidate.candidateEmail}">${candidate.candidateFirstName}
                  ${candidate.candidateLastName}</div>
                #{/list}
              </div>
            </div>
            <button type="submit" class="ui red submit button">FILTER</button>
          </div>
        </form>
      </div>
    </div>

    <div class="four wide column">
      <!-- Filter by donor  -->
      <div class="ui form">
        <form class="ui form" action="/report/filterByDonor" method="POST">
          <div class="ui fluid form segment">
            <div class="ui dropdown">
              <i class="dollar icon"></i> <input name="email" type="hidden"> <span class="text">Select
                Donor</span>
              <div class="menu">
                #{list items:uniqueDonations, as:'donorDonation'}
                <div class="item" data-value="${donorDonation.from.email}">${donorDonation.from.firstName}
                  ${donorDonation.from.lastName}</div>
                #{/list}
              </div>
            </div>
            <button type="submit" class="ui red submit button">FILTER</button>
          </div>
        </form>
      </div>
      </div>
      <div class="four wide column">
        <!-- Filter by State  -->
        <div class="ui form">
          <form class="ui form" action="/report/filterByState" method="POST">
            <div class="ui fluid form segment">
              <div class="ui dropdown">
                <i class="world icon"></i> <input name="state" type="hidden"> <span class="text">Select
                  State</span>
                <div class="menu">
                  #{list items:states, as:'donorState'}
                  <div class="item" data-value="${donorState.from.state}">${donorState.from.state}</div>
                  #{/list}
                </div>
              </div>
              <button type="submit" class="ui red submit button">FILTER</button>
            </div>
          </form>
        </div>
        </div>
        <div class="three wide column">
          <!-- All Donationse  -->
          <form class="ui form" action="/report" method="GET">
            <div class="ui fluid form segment">
              <i class="refresh icon"></i>
              <button type="submit" class="ui red submit button">ALL DONATIONS</button>
            </div>
          </form>
        </div>
      </div>
</section>
<script src="@{'/public/javascripts/main_script.js'}"></script>