#{extends 'main.html' /} #{set title:'Register New Candidate' /} #{set activePage: 'regCandidate' /} #{include
'nav.html' /}

<section class="ui form segment">
  <form class="ui form" action="/candidatecontroller/registerCandidate" method="POST">
    <div class="ui segment">
      <div class="ui grid">
        <div class="column">
          <div class="field">
            <h2>Candidate registration</h2>
          </div>
          <div class="two fields">
            <div class="field">
              <label>First Name</label><input placeholder="First Name" type="text"
                name="candidate.candidateFirstName">
            </div>
            <div class="field">
              <label>Last Name</label><input placeholder="Last Name" type="text"
                name="candidate.candidateLastName">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Email</label><input placeholder="Email" type="text" name="candidate.candidateEmail">
            </div>
            <div class="field">
              <label>Password</label><input placeholder="Password" type="password"
                name="candidate.candidatePassword">
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label> Office</label>
              <div class="ui selection dropdown">
                <input name="candidate.office" type="hidden">
                <div class="default text">Select Office</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  #{list items:offices, as:'office'}
                  <div class="item" data-value="${office.office}">${office.office}</div>
                  #{/list}
                </div>
              </div>
            </div>
            <div class="field">
              <label>Target Amount</label><input placeholder="Donation target amount ($)" type="text"
                name="candidate.targetAmount">
            </div>
          </div>
          <div class="two fields"></div>
          <div class="form-actions">
            <div class="ui red submit button">SUBMIT</div>
            <div class="ui error message"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script src="@{'/public/javascripts/main_script.js'}"></script>