<nav class="ui menu">	

#{if activePage == 'Welcome'}
<a class="ui active item" href="/">Home</a>
<a class="ui item" href="/signup">Sign Up</a>
<a class="ui item" href="/login">Log In</a>
<a class="ui item" href="/admin">Administrator</a>
#{/if}  
 
#{if activePage == 'signup'}
<a class="ui item" href="/">Home</a>
<a class="ui active item" href="/signup">Sign Up</a>
<a class="ui item" href="/login">Log In</a>
#{/if}  
 
#{if activePage == 'login'}
<a class="ui item" href="/">Home</a>
<a class="ui item" href="/signup">Sign Up</a>
<a class="ui active item" href="/login">Log In</a>
#{/if}  
 
#{if activePage == 'donation'}
<a class="ui active item" href="/donation">Make Donation</a>
<a class="ui item" href="/report">Report</a>
<a class="ui item" href="/edit">Edit Profile</a>
<a class="ui item" href="/logout">Log Out</a>
#{/if}  
 
#{if activePage == 'report'}
<a class="ui item" href="/donation">Make Donation</a>
<a class="ui active item" href="/report">Report</a>
<a class="ui item" href="/edit">Edit Profile</a>
<a class="ui item" href="/logout">Log Out</a>
#{/if}  
 
#{if activePage == 'edit'}
<a class="ui active item" href="/edit">Edit Profile</a>
<a class="ui item" href="/logout">Log Out</a>
#{/if}  
  
#{if activePage == 'signout'}
<a class="ui item" href="/">Home</a>
<a class="ui active item" href="/logout">Log Out</a>
#{/if}  

#{if activePage == 'admin'}
<a class="ui item" href="/">Home</a>
<a class="ui active item" href="/admin">Administrator Login</a>
#{/if}  

#{if activePage == 'adminReport'}
<a class="ui active item" href="/admin/adminReport">Administrator Home</a>
<a class="ui item" href="/candidatecontroller/regCandidate">Register Candidate</a>
<a class="ui item" href="/officecontroller/regOffice">Create Office</a>
<a class="ui item" href="/donorlocation">Donor Location</a>
<a class="ui item" href="/">Administrator Logout</a>
#{/if}  

#{if activePage == 'regCandidate'}
<a class="ui item" href="/admin/adminReport">Administrator Home</a>
<a class="ui active item" href="/candidatecontroller/regCandidate">Register Candidate</a>
<a class="ui item" href="/officecontroller/regOffice">Create Office</a>
<a class="ui item" href="/donorlocation">Donor Location</a>
<a class="ui item" href="/">Administrator Logout</a>
#{/if} 

#{if activePage == 'regOffice'}
<a class="ui item" href="/admin/adminReport">Administrator Home</a>
<a class="ui item" href="/candidatecontroller/regCandidate">Register Candidate</a>
<a class="ui active item" href="/officecontroller/regOffice">Create Office</a>
<a class="ui item" href="/donorlocation">Donor Location</a>
<a class="ui item" href="/">Administrator Logout</a>
#{/if} 

#{if activePage == 'donorLocation'}
<a class="ui active item" href="/donorlocation">Donor Location</a>
<a class="ui item" href="/admin/adminReport">Administrator Home</a>
#{/if} 

 #{if activePage == 'error'}
<a class="ui active item" href="/logout">Oops!</a>
#{/if} 
</nav>