#{extends 'main.html' /} #{set title:'Edit Profile' /} #{set activePage: 'edit' /} #{include 'nav.html' /}
<section class="ui form segment">
  <form class="ui form" action="/accounts/update" method="POST">
    <div class="ui compact segment">
      <div class="ui grid">
        <div class="column">
          <div class="field">
            <h3>You may edit your profile here</h3>
          </div>
          <div class="three fields">
            <div class="field">
              <label>First Name</label> <input placeholder="${user.firstName}" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label> <input placeholder="${user.lastName}" type="text" name="lastName">
            </div>
            <div class="field">
              <label>Age</label> <input placeholder="${user.age}" type="text" name="age">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Address Line 1</label> <input placeholder="${user.address1}" type="text" name="address1">
            </div>
            <div class="field">
              <label>Address Line 2</label> <input placeholder="${user.address2}" type="text" name="address2">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>City</label> <input placeholder="${user.city}" type="text" name="city">
            </div>
            <div class="field">
              <label>State</label> <input placeholder="${user.state}" type="text" name="state">
            </div>
            <div class="field">
              <label>Zip Code</label> <input placeholder="${user.zipCode}" type="text" name="zipCode">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Latitude</label><input placeholder="${latitude}" type="text" name="latitude">
            </div>
            <div class="field">
              <label>Longitude</label><input placeholder="${longitude}" type="text" name="longitude">
            </div>
          </div>
          <div class="form-actions">
            <button class="ui red submit button">SUBMIT</button>
            <INPUT class="ui red submit button" Type="button" VALUE="CANCEL"
              onClick="history.go(-1);return true;">
          </div>
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </form>
</section>
<script src="@{'/public/javascripts/main_script.js'}"></script>
