#{extends 'main.html' /} 
#{set title:'Oops!' /} 
#{set activePage: 'error' /} 
#{include 'nav.html' /} 


#{if error == 'authenticate'}
<p>
  This email and password combination does not exist, please trying <a href="/login"> logging in </a> again
</p>
#{/if} 

#{if error == 'adminAuthenticate'}
<p>
  This username and password combination does not exist, please trying <a href="/admin"> logging in </a> again
</p>
#{/if}

#{if error == 'register'}
<p>
  This email address is already registered. Please try  <a href="/login"> logging in </a> or <a href="/signup"> signup </a> with a different email address
</p>
#{/if}

#{if error == 'age'}
<p>
  Age is incorrect. Please try <a href="/signup"> signing up </a> with a valid age.
</p>
#{/if}

#{if error == 'zipCode'}
<p>
  Invalid Zip Code. Please try <a href="/signup"> signing up </a> with a valid Zip Code.
</p>
#{/if}

#{if error == 'regCandidate'}
<p>
  This candidate email address is already registered. Please try <a href="/candidatecontroller/regCandidate"> registering </a> with a different email address
</p>
#{/if}
