#{extends 'main.html' /} #{set title:'Login' /} #{set activePage: 'login' /} #{include
'nav.html' /}

<section class="ui form segment">
  <form class="ui form" action="/authenticate" method="POST">

    <div class="ui segment">
      <div class="field">
        <h2>Log-in</h2>
      </div>
      <div class="five wide field">
        <div class="field">
          <div class="ui left icon input">
            <input placeholder="Email" type="text" name="user.email"> <i class="user icon"></i>
          </div>
        </div>
      </div>
      <div class="five wide field">
        <div class="field">
          <div class="ui left icon input">
            <input placeholder="Password" type="password" name="user.password"> <i class="lock icon"></i>
          </div>
        </div>
        <div class="form-actions">
          <button class="ui red submit button">LOGIN</button>
          <div class="ui error message"></div>
        </div>
      </div>
  </form>
</section>
<script src="@{'/public/javascripts/main_script.js'}"></script>