#{extends 'main.html' /} #{set title:'Signup' /} #{set activePage: 'signup' /} #{include 'nav.html' /}

<section class="ui form segment">
  <form class="ui form" action="/register" method="POST">
    <div class="field">
      <label> <input type="checkbox" name="user.usCitizen"> Tick to confirm you are a citizen
        of the USA
      </label>
    </div>
    <div class="ui compact segment">
      <div class="ui grid">
        <div class="column">
          <div class="field">
            <h2>Sign Up</h2>
          </div>
          <div class="three fields">
            <div class="field">
              <label>First Name</label><input placeholder="First Name" type="text" name="user.firstName">
            </div>
            <div class="field">
              <label>Last Name</label><input placeholder="Last Name" type="text" name="user.lastName">
            </div>
            <div class="field">
              <label>Age</label><input placeholder="Age" type="text" name="user.age">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Address 1</label><input placeholder="Address 1" type="text" name="user.address1">
            </div>
            <div class="field">
              <label>Address 2</label><input placeholder="Address 2" type="text" name="user.address2">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>City</label><input placeholder="City" type="text" name="user.city">
            </div>
            <div class="field">
              <label>State</label><input placeholder="State" type="text" name="user.state">
            </div>
            <div class="field">
              <label>Zip Code</label><input placeholder="Zip Code" type="text" name="user.zipCode">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Email</label><input placeholder="Email" type="text" name="user.email">
            </div>
            <div class="field">
              <label>Password</label><input placeholder="Password" type="password" name="user.password">
            </div>
          </div>
          <div class="field">
            <h3>Enter your geolocation</h3>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Latitude</label><input placeholder="Example: 42.360082" type="text"
                name="geolocation.latitude">
            </div>
            <div class="field">
              <label>Longitude</label><input placeholder="Example: -177.058880" type="text"
                name="geolocation.longitude">
            </div>
          </div>
          <div class="form-actions">
            <div class="ui red submit button">SUBMIT</div>
            <div class="ui error message"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script src="@{'/public/javascripts/main_script.js'}"></script>